API_ID= 22945582
API_HASH= 50e6e7ec5cf491b798670dc0b2f2c6de
BOT_TOKEN= 7843821939:AAFIYStlzJCsHt5ip3_I1in7Jj2mJXdr4CU
LOGGER_ID= -1002845814330
MONGO_DB_URI= mongodb+srv://ansumanaimbot:ansuman2006@cluster0.db4ucr1.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID= 7755789304
STRING_SESSION= BQE_p7wACm35vXRr5i1S2cuk1sCXVmIRhVM3mGJFT0w3lfCGOK5vYCpFSa9FYGQ6L5mTgpWRrzSIaBNHjpRhcdadIqe-_XDR3gEoKP1ssuwoHX6Gd1QuBshKwLT77HGg_G2VZ_WC4bgcgW30kd24MpTQs5bXHioC0SviB8Oqew-eWloY-fgaA5zsuXfsLdBZkvp_PGeQlGSdCegn8w8ZKavk-qFBvWKoI6NKvlLR-Tz6kkrn6GFNitjnBReKTnlw-qGp_RjNrsTlAyV7tlhGpiW_Aa4gVmIiFl1SBr7IclrTUzmEpEzTU_mIAtB58G2V1MbbIrhbuUgYjDRhRiZ2xHMC76SN4gAAAAHIYRWaAA
